# Problem 1

In [8]:
import pandas as pd
  

input_df = [{'name':'Sujeet', 'age':10},
            {'name':'Sameer', 'age':11},
            {'name':'Sumit', 'age':12}]
  
df = pd.DataFrame(input_df)
  
print('\nRows iterated using iterrows() : ')
for index, row in df.iterrows():
    print(row["name"])

Rows iterated using iterrows() :
Sujeet
Sameer
Sumit

# Problem 2

In [13]:
import pandas as pd
  
record = {
  
 'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
 'Age': [21, 19, 20, 18, 17, 21],
 'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78] }
  
# create a dataframe
df = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
#df.head()  

# selecting rows based on condition
result_df = df[(df['Percentage'] > 80) | (df['Age']>20)]
result_df.head()

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
5    Shaurya   21   Science          78

# Problem 3

In [23]:
import pandas as pd 
    
# Create the dataframe 
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'], 
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'], 
                    'Cost':[10000, 5000, 15000, 2000]}) 
  
# Create an empty list 
Row_list =[] 
    
# # Iterate over each row 
# for i in range((df.shape[0])): 

#     Row_list.append(list(df.iloc[i, :])) 
    
# # Print the first 3 elements 
# print(Row_list[]) 
print(df.head())
#df.iloc[1, :]
df.iat[1,2]

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

5000

# Problem 4

In [32]:
# importing pandas as pd
import pandas as pd
  
# Read the csv file and construct the 
# dataframe
df = pd.read_csv('data.csv')
  
# First filter out those rows which
# does not contain any data
df = df.dropna(how = 'all')
df.head()  
# Filter all rows for which the player's
# age is greater than or equal to 25
print(df[df['Pulse'] <110].index)
df.drop(df[df['Pulse'] < 110].index, inplace = True)
  
# Print the modified dataframe
df.head(15)

Int64Index([  2,   3,   5,   7,   8,   9,  10,  11,  12,  13,
            ...
            152, 154, 156, 157, 159, 160, 161, 162, 163, 164],
           dtype='int64', length=116)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0

# Problem 5

In [37]:
# importing pandas as pd
import pandas as pd
  
# sample dataframe
df = pd.DataFrame({'A': ['foo', 'bar', 'g2g', 'g2g', 'g2g',
                         'bar', 'bar', 'foo', 'bar'],
                  'B': ['a', 'b', 'a', 'b', 'b', 'b', 'a', 'a', 'b'] })

df.head(10)
# frequency count of column A
count = df['B'].value_counts()
print(count)

b    5
a    4
Name: B, dtype: int64

# Problem 6

In [39]:
import pandas as pd 
    
# making data frame 
df = pd.read_csv("data.csv")
  
# Returns index of maximum weight
df[['Pulse']].idxmax()
df.iloc[80, :]

Duration     30.0
Pulse       159.0
Maxpulse    182.0
Calories    319.2
Name: 80, dtype: float64

# Problem 7

In [49]:
import pandas as pd
  
# create a dictionary with five fields each 
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
df.head()  
# Remove column name 'A'
df.drop(["A"], axis=1, inplace=True)
df.head()

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5

# Problem 9

In [54]:
def discount(row):
    return row.Cost - (row.Cost * 0.1)

import pandas as pd
  
# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

df.head()
df['Discounted_Price'] = df.apply(discount, axis = 1)
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0