# Course Material
## books 
* https://jakevdp.github.io/PythonDataScienceHandbook/  Python DataScience Handbook
* https://github.com/kamalkraj/books/blob/master/Head%20First%20Python.pdf  Head first Python 
* https://tanthiamhuat.files.wordpress.com/2018/04/pythondatasciencehandbook.pdf

# What is python

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

# Official link 
https://www.python.org/

# Install Python

Install python from the below link
https://www.python.org/downloads/windows/

## Why Python for DataScience

Simplicity
* Python is one of the easiest languages to start your journey. Also, its simplicity does not limit your functional possibilities.

What gives Python such flexibility? There are multiple factors:
* Python is a free and open-source language
* This is a high-level programming
* Python is interpreted
* It has an enormous community

Rich Support with libraries 
* Greate library support for Machine learning and DataScience tasks.
* For example there are libraries like Pandas, Numpy, SciPy etc which are ruling all the development accross the globe. 

Lot of Web frameworks in python 
* Django
* Flask
* Bottle
* FastAPI

Huge Community 
* Having huge community helps solve problems fast as well as increases the learning curve.

# Data Structures in Python 

## There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered and unindexed. No duplicate members.
* Dictionary is a collection which is unordered and changeable. No duplicate members.

## List

* List are used to store multiple items in a single variable.
* list items are ordered, changeable and allow duplicate values. 
* List items are indexed where index starts from 0

In [3]:
 
my_list = [1,2,3,4,5,6,7]

str_list = ["Bat", "phone", "jeans"]

print(my_list)
print(str_list)
print(len(my_list))

# list can also contain different data types. 
hetero_list = ["abc", 34, True, 40, "male", 12.5]
print(hetero_list)

# Though data type for variable is not defined in python but the object has a data type. 
print(type(my_list))
print(isinstance(my_list, list))

[1, 2, 3, 4, 5, 6, 7]
['Bat', 'phone', 'jeans']
7
['abc', 34, True, 40, 'male', 12.5]
<class 'list'>
False

In [23]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [5]:
# The List Constructor

my_list = list(("Python", "Java", "Ruby"))
print(my_list)

# Access the elements from the list 
print(my_list[1])

# neagative index 

print(my_list[-3])

# Range of indexes 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])


# HW try out the examples of neagative index


# check if item exists 

if "apple" in thislist:
    print("Exists")
else:
    print("Does Not Exists")
    
    
# loop over the list 

for fruits in thislist:
    print(fruits)
    

# Add one element in the list

thislist.append("grapes")
print(thislist)


# Remove an element from the list 
thislist.remove("banana")
print(thislist)


# remove element from a specific index 
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)


# remove the last element from the list 
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

# Sort the list 
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

# HW sort the list in descending order 


# join a list 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['Python', 'Java', 'Ruby']
Java
Python
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
Exists
apple
banana
cherry
orange
kiwi
melon
mango
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']
['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']
['apple', 'cherry']
['apple', 'banana']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [88]:
a = [1,2,3]
b = [6,5,4]
c = a+b
print(c)
c.sort()
print(c)
cnt = c.count(1)
print(cnt)

[1, 2, 3, 6, 5, 4]
[1, 2, 3, 4, 5, 6]
1

# Tuple
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
* Since tuple are indexed, tuples can have items with the same value

In [11]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [32]:
# Tuple 

# Tuple items are ordered, unchangeable, and allow duplicate values.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))


tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)


thistuple = ("apple", "banana", "cherry")
print(thistuple[1])


thistuple = ("apple", "banana", "cherry")
# thistuple.append("orange") # This will raise an error
print(thistuple)



# Loop over a tuple 
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

# join 2 tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')
banana
('apple', 'banana', 'cherry')
apple
banana
cherry
('a', 'b', 'c', 1, 2, 3)

# Set
* Unordered means that the items in a set do not have a defined order, Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
* Sets are unchangeable, meaning that we cannot change the items after the set has been created.
* Sets cannot have two items with the same value.

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(x)

{'apple', 'banana', 'cherry'}

In [45]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

set1 = {"abc", 34, True, 40, "male"}
print(set1)

myset = {"apple", "banana", "cherry"}
print(type(myset))


thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

# access set elements 

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)


# Add elements to a set 
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)


# Merge two sets 

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)


# Add elements of list to set 

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

thisset.add("banana")
print(thisset)


# remove an element from the set if the element is not present an error is thrown

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)


# remove an element from the set if the element is not present an error is not thrown 
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry', 'banana'}
{True, 34, 'abc', 40, 'male'}
<class 'set'>
{'apple', 'cherry', 'banana'}
apple
cherry
banana
{'apple', 'cherry', 'orange', 'banana'}
{'apple', 'cherry', 'banana', 'mango', 'papaya', 'pineapple'}
{'cherry', 'apple', 'banana', 'kiwi', 'orange'}
{'cherry', 'apple', 'banana', 'kiwi', 'orange'}
{'apple', 'cherry'}
{'apple', 'cherry'}

# Dictionary 
* Dictionaries are used to store data values in key:value pairs.
* Dictionary items are ordered, changeable, and does not allow duplicates.
* Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
* Dictionaries cannot have two items with the same key

In [32]:
thisdict = {
  "123": "nupur",
  "121": "piyush",
  "12": "aksha"
}
print(thisdict)
thisdict["12"] = "akshay"
thisdict.update({"15":"heena"})
print(thisdict)

{'123': 'nupur', '121': 'piyush', '12': 'aksha'}
{'123': 'nupur', '121': 'piyush', '12': 'akshay', '15': 'heena'}

In [58]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict)

# length of dictionary 
print(len(thisdict))


# complex dictionary 

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

print(type(thisdict))

#Access elements from a list 

x = thisdict["brand"]
print(x)

# can also use the get method 
x = thisdict.get("brand")
print(x)

# print the keys 
print(thisdict.keys())


# Add a mew item to the list 

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x)


# Get the values of the dict 
print(thisdict.values())

# Get the list of items
print(thisdict.items())



# update the dict 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

# Add items to the dict 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>
Ford
Ford
dict_keys(['brand', 'electric', 'year', 'colors'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])
dict_items([('brand', 'Ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [66]:
# Basics of python 

def addition(num1, num2):
    result = num1+num2
    return result

print(addition(5,5))
print(addition(100,20))

10
120

# Variables

In [6]:
username = "akshay and nupur are attending the class"
print(username)
username = "piyush is condicting a lecture"
print(username)

# variable can take any value
num1 = 5
price = 45.56
a = True

# BIFS (built in functions)
print(type(price))

price = "twenty"
print(price)
print(type(price))

akshay and nupur are attending the class
piyush is condicting a lecture
<class 'float'>
twenty
<class 'str'>

# Print function

In [17]:
score = 105
print("The score is: " + str(score))

The score is: 105

# Type Conversion

In [16]:
price = 45.6
round_price = int(price)
print(round_price)

45

In [24]:
import random
print(random.randrange(1, 6))

5

# Strings

In [34]:
name = "Piyush"
print(name[0:4])


print(name.upper())
print(name.lower())

lastname = "varkhede   "
print(lastname.strip())

Piyu
PIYUSH
piyush
varkhede

In [37]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [39]:
username = "piyush"
if username=="piyus":
    print("Logged in successfully")
else:
    print("username is wrong")

username is wrong

In [42]:
Student = "piyush"
student = "chaudhari"

print(Student)
print(student)

piyush
chaudhari

In [43]:
x = 10
y = 5

print(10%5)

# The result of modulo operations is the remainder after division

0

In [44]:
# check if the number is odd or even

num = 5
if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [2]:
n = int(input("Enter the list size"))
lst = []
for i in range(0, n):
    lst.append(int(input()))
print(lst)

Enter the list size5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [11]:
# replace and split function 
txt = "1,2,3,4,5"
x = txt.split(",")
print(x)

['1', '2', '3', '4', '5']

In [28]:
a = 34
b = 33
if b > a:
    print("b is greater than a")
elif a==b:
    print("a is equal to b")
else:
    print("a is greater than b")

a is greater than b

In [34]:
# short hand if 
a=1
b=1
if a > b: print("a is greater than b")

In [35]:
a = 1
b = 2
print ("a is greater than equals b") if a>=b else print("b is greater than a")

b is greater than a

In [42]:
a = "nupur"
b = "akshay"
if a=="piyush" or b=="akshay":
  print("Both are students of this class")

Both are students of this class

In [111]:
a = 4
if a%2==0:
    pass
else:
    print("a is odd number")

In [44]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [54]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count(" ")
print(x)

7

# For loop in python

In [57]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [58]:
name = "akshay"
for ch in name:
    print(ch)

a
k
s
h
a
y

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [61]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i<len(fruits):
    print(fruits[i])
    if fruits[i]=="banana":
        break
    i=i+2

apple
cherry

In [64]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [ ]:
[1,2,3,4,5,6,7]

In [65]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [68]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
num = [1,2,3]
for x in adj:
  for y in fruits:
    for n in num:
        print(x,y,n)

red apple 1
red apple 2
red apple 3
red banana 1
red banana 2
red banana 3
red cherry 1
red cherry 2
red cherry 3
big apple 1
big apple 2
big apple 3
big banana 1
big banana 2
big banana 3
big cherry 1
big cherry 2
big cherry 3
tasty apple 1
tasty apple 2
tasty apple 3
tasty banana 1
tasty banana 2
tasty banana 3
tasty cherry 1
tasty cherry 2
tasty cherry 3

# functions in python

In [1]:
def summation(num1, num2):
   return num1+num2

In [2]:
result = summation(4,5) 
result1 = summation(2,2)

final_result = summation(result,result1)
print(final_result)

13

In [7]:
# function definition
def login(email, password, username="guest_user"):
    return "welcome " + username


result = login("1234","123","nupur") # function call 
print(result)

welcome nupur

In [81]:
x = lambda x,y: x*y

In [82]:
print(x(5,5))

25

In [94]:
class Person:
    name = str()
    age = int()
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def to_string(self):
        print("Hello my name is " + self.name)

In [95]:
obj = Person("piyush", 25)
obj.to_string()

Hello my name is piyush

In [104]:
class Student(Person):
    s_id = int()
    
    def __init__(self, name, age, s_id):
        self.s_id = 23
        super().__init__(name, age)
        
obj = Student("piyush",25,24)
obj.to_string()

Hello my name is piyush

In [106]:
x = ("nupur","nayana")
y = (1,2)
z = (True, False)

print(x)
print(y)
print(z)

('nupur', 'nayana')
(1, 2)
(True, False)
<class 'tuple'>

# python basics

Introduction to python

In [13]:
print("hello world")

hello world

In [15]:
x = 25
print(x)
x = 35
print(x)

25
35

In [17]:
name = "Intorudction to python"
print(name)
y = 2.13
print(y)
x = True
y = False

Intorudction to python
2.13

In [ ]:
name = 25
name = "piyush"
name 24.5

In [18]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [4]:
name = "nayana"
print(name)
print(name[0])
print(len(name))

nayana
n
6

In [3]:
name = "nayana"
for ch in name:
    print(ch)

n
a
y
a
n
a

In [5]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

In [5]:
username = input()
password = input()

if username =="nayana" and password=="123":
    print("login successful")
else:
    print("Invalid username or password")

nayana
123
True
login successful

In [12]:
b = "Hello, World!"
print(b[start:])

lo, World!

In [14]:
a = "HelloWorld"
print(a.upper())

print(a.lower())

HELLOWORLD
helloworld

In [16]:
a = "Hello, World!"
a = a.replace("Hello", "Hi")
print(a)

Hi, World!

In [18]:
a = "nayana "
b = "gaikwad"
c = a + b
print(c)

nayana gaikwad

In [25]:
print(bool(""))
print(bool("piyush"))

False
True

In [29]:
print(5%2)

1

In [32]:
print(3*2)

6

In [40]:
age = 36
salary = 12.5
txt = "My name is John, and I am {}. my salary is {}"
print(txt.format(age,salary))

My name is John, and I am 36. my salary is 12.5

In [45]:
age = 36
age = str(age)
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [4]:
y = "John is learning data science"
print(y)
y = 5
print(y)

John is learning data science
5

In [7]:
y = 12.5
z = int(y)
print(z)

12

In [16]:
name = 'john'
print(name[3])

n

In [21]:
b = "HelloWorld"
print(b[:])

HelloWorld

In [26]:
print(b[-5:])

World

In [29]:
name = "PRANIL"
print(name.upper())
print(name.lower())

PRANIL
pranil

In [36]:
name = "PRANIL-Gaikwad-abc"
print(name.replace("L","T"))

PRANIT-Gaikwad-abc

In [37]:
print(name.split("-"))

['PRANIL', 'Gaikwad', 'abc']

In [41]:
a = "Hello"
b = "World"
c = b + " " + a
print(c)

World Hello

In [43]:
name = "Ram"
age = 25
txt = "My name is {}, and I am {}"
print(txt.format(name,age))

My name is Ram, and I am 25

In [45]:
a = 200
b = 33
if b < a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [6]:
name = "piyush"
print("p" in name)

True

In [29]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [33]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>
<class 'tuple'>

In [36]:
thistuple = tuple(("apple", "banana", "cherry")) 
print(type(thistuple))

<class 'tuple'>

In [39]:
thistuple = ("apple", "banana", "cherry")
if "mango" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("mango is not in the tuple")

mango is not in the tuple

In [42]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(type(x))

print(thistuple)

<class 'str'>
<class 'str'>
<class 'str'>
('apple', 'banana', 'cherry')

In [45]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [46]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < 3:
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [47]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [49]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [50]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [51]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'apple', 'banana'}

In [56]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'banana', 'orange'}
{'cherry', 'apple', 'banana', 'orange'}

In [57]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'papaya', 'mango', 'pineapple', 'apple', 'banana'}

In [60]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange","banana")

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'orange', 'kiwi', 'apple'}

In [63]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
thisset.discard("banana")

{'cherry', 'apple'}

In [68]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [72]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)
thisset.add("orange")
print(thisset)

set()
{'orange'}

In [73]:
set1 = {"a", "b" , "c", 1}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [75]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","cherry"}
x.intersection_update(y)
print(x)

{'cherry', 'apple'}

In [76]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'google', 'microsoft'}

In [83]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["year"])

1964

In [89]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2020
}
x = thisdict.get("model")
print(x)

Mustang

In [91]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2020
}
thisdict["year"] = 1964
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [93]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [96]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2020
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [97]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [98]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [99]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [101]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [102]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [106]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

for x in thisdict:
    print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [107]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [112]:
a = 6
b = 5

if b >= a:
  print("b is greater than equal to a")
else:
  print("a is greater than b")

a is greater than b

In [113]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
        if x>30:
            print("and also greater than 30")
    else:
        print("but not above 20.")

Above ten,
and also above 20!
and also greater than 30

In [114]:
a = 33
b = 200

if b > a:
    pass

In [118]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [119]:
for i in range(6):
    if i==3:
        break
    print(i)

0
1
2

In [120]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("while loop completed sucessfully")

1
2
3
4
5
i is no longer less than 6

In [123]:
fruits = ["apple", "banana", "cherry","mango", "grapes"]
for x in fruits:
    print(x.upper())

APPLE
BANANA
CHERRY
MANGO
GRAPES

In [124]:
i = 0
while i<len(fruits):
    print(fruits[i].upper())
    i = i+2

APPLE
CHERRY
GRAPES

In [128]:
for x in range(3,6):
    print(x)

3
4
5

In [133]:
def summation(num1, num2):
    result = num1 + num2
    return result 

sum_of_1_and_2 = summation(1,2)
sum_of_2_and_3 = summation(2,3)
print(sum_of_1_and_2)
print(sum_of_2_and_3)

3
5

In [134]:
def upper(item_list):
    result = []
    for x in item_list:
        result.append(x.upper())
    return result

fruits = ["apple", "banana", "cherry"]

result = upper(fruits)
print(result)

['APPLE', 'BANANA', 'CHERRY']